{% if paginator.total_pages > 1 %}

    <div class="blog__pagination">


    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><</a>    
    {% endif %}

    {{ paginator.page }} | {{ paginator.total_pages }}

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">></a>
    {% endif %}
     

    </div>

{% endif %}