<figcaption class="portfolio-item__caption">

    {% include filters-menu.html appear_on_portrait = true %}

    <span class="portfolio-item__caption-inner-wrapper">
        {% include filtered-nav.html %} <span class="portfolio-item__title">{{ item.title }}
    </span>

</figcaption>