<section class="portfolio-nav">

    {% if paginator.total_pages > 1 %}

        {% if paginator.previous_page %}
            <a class="portfolio-nav__arrow" href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><</a>
        {% else %}
            <span class="portfolio-nav__arrow portfolio-nav__arrow--inactive"><</span>
        {% endif %}

        <span class="portfolio-nav__info">
            {{ paginator.page }}{% if paginator.page < 10 %}<span class="invisible-char"></span>{% endif %} | {% if paginator.total_pages < 10 %}<span class="invisible-char"></span>{% endif %}{{ paginator.total_pages }}
        </span>

        {% if paginator.next_page %}
            <a class="portfolio-nav__arrow" class="" href="{{ paginator.next_page_path | prepend: site.baseurl }}">></a>
        {% else %}
            <span class="portfolio-nav__arrow portfolio-nav__arrow--inactive">></span>
        {% endif %}
        
    {% else %}

        <span class="portfolio-nav__arrow portfolio-nav__arrow--inactive"><</span>

        <span class="portfolio-nav__info">
            1<span class="invisible-char"></span> | <span class="invisible-char"></span>1
        </span>

        <span class="portfolio-nav__arrow portfolio-nav__arrow--inactive">></span>

    {% endif %}
            
</section>