{% if page.layout == 'filter_list' %}

  <ul class="site-nav__list site-nav__list--sub {% if include.appear_on_portrait %}site-nav__list--appear-on-portrait{% endif %}">

    {% for item in site.data.filters-menu.items %}
    
      {% assign filter_url = item.url | remove: 'photography/' %}

      <li class="site-nav__item site-nav__item--sub">
        <a href="{{ item.url | relative_url }}" class="site-nav__link site-nav__link--sub {% if page.url contains filter_url %}site-nav__item--active{% endif %}">
            {{ item.title }}
        </a>
      </li>      

    {% endfor %}

  </ul>

{% endif %}