{% assign item = include.item %}

<figure class="portfolio-item">

    <div class="portfolio-item__img-wrapper">
        <img class="portfolio-item__img" 
             src="{{ item.image | relative_url }}"
             srcset="
                {% for img in item.images %}
                    {{ img.path | relative_url }} {{ img.width }}w{% unless forloop.last %},{% endunless %}
                {% endfor %}
             "
             alt="{{ item.meta }}">
    </div>

</figure>

{% include caption.html %}