<header class="site-header">

  <a class="site-title" href="{{ '/' | relative_url }}">
    {{ site.title }}
  </a>

  <nav class="site-nav">

    <ul class="site-nav__list">

      {% assign page_url = page.url | remove: '/' | remove: 'index.html' %}
    
      {% for item in site.data.menu.items %}

        {% assign is_active = false %}

        {% if item.url == page_url %}
          {% assign is_active = true %}
        {% endif %}

        {% if item.url == 'photography' %}
          {% if page.url contains 'photography/'  %}
            {% assign is_active = true %}
          {% endif %}
        {% endif %}
        
        
        <li class="site-nav__item">
          <a href="{{ item.url | relative_url }}" class="site-nav__link {% if is_active == true %}site-nav__item--active{% endif %}">
            {{ item.title }}
          </a>
        </li>

      {% endfor %}

    </ul>

  </nav>

  {% include filters-menu.html %}

</header>