<section class="portfolio-nav">
    {% if page.url == '/' %}
        {% unless page.layout == 'singleimage' %}
            {% assign second_portfolfio_item = site.portfolio[1] %}
        {% endunless %}
    {% endif %}

    {% if page.url == '/' %}
        {% unless page.layout == 'singleimage' %}
            <span class="invisible-char"></span><span class="invisible-char"></span> 1 | {{ site.portfolio | size }} <a href="{{ second_portfolfio_item.url }}">></a>
        {% endunless %}
    {% endif %}

    {% if page.layout == 'singleimage' %}
        {% unless page.url == '/' %}

            {% include utilities/collection-nav.html %}

            {% if prev_url %}
                <a href="{{ prev_url }}"><</a>
            {% else %}
                <span class="invisible-char"></span>
            {% endif %}

            {% if current_item_index < 10 %}<span class="invisible-char"></span>{% endif %}{{ current_item_index }} | {{ site.portfolio | size }}

            {% if next_url %}
                <a href="{{ next_url }}">></a>
            {% else %}
            <span class="invisible-char"></span>
            {% endif %}

        {% endunless %}            
    {% endif %}
    
</section>