{% assign item = include.item %}

<figure class="portfolio-item">

    <div class="portfolio-item__img-wrapper">
        <img class="portfolio-item__img {% if page.layout == 'home' %}portfolio-item__img--home-page{% endif %}"
             src="{{ item.image | relative_url }}" alt="{{ item.meta }}"
             srcset="
                {% for img in item.images %}
                    {{ img.path | relative_url }} {{ img.width }}w{% unless forloop.last %},{% endunless %}
                {% endfor %}
             "
        >
    </div>

    {% if page.layout == 'home' %}

        <figcaption class="portfolio-item__caption portfolio-item__caption--home-page">
            <span class="portfolio-item__title">{{ item.title }}</span>
        </figcaption>

    {% else %}

        <figcaption class="portfolio-item__caption">
            {% include filters-menu.html %}
            {% include portfolio-nav.html %} <span class="portfolio-item__title">{{ item.title }}</span>
        </figcaption>

    {% endif %}

</figure>