.blog {

    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    padding-top: 1.5rem;
    max-width: 800px;

    &__page-title,
    &__title {
        padding: 0;
        margin: 0;
    }

    &__page-title {
        margin-bottom: 1rem;
    }

    &__item {
        padding: 1rem 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__teaser-img {
        width: 200px;
        height: 150px;
        margin-right: 1rem;
        min-height: 100px;
        @media screen and (max-width: 768px) and (orientation: landscape) {
            width: 100px;
            height: 75px;
        }
    }

    &__info {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
    }

    &__pagination {
        padding: 1rem 0;
        text-align: center;
    }

}

@media screen and (max-width: 450px) {

    .blog {

        &__item {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }

        &__info {
            padding-top: 0.5rem;
        }

    }

}