.gallery {

    &__items {
        padding: .5vw; 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
    }

    &__item {
        position: relative;
        -webkit-box-flex: 1;
            -ms-flex: auto;
                flex: auto; 
        width: 300px;        
        min-width: 200px;
        margin: .5vw;
        max-width: 400px;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__caption {
        color: #fff;
        position: absolute;
        bottom: 9px;
        left: 7px;
        width: 100%;
    }

    &__link {
        color: #fff;
        &:hover {
            text-decoration: none;
        }
    }

    

}