.site-header {
    -ms-flex-preferred-size: $header_width;
        flex-basis: $header_width;
    margin-right: $nav_right_margin;

    padding: $top_bottom_padding 0 0 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.site-title {
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 0 1rem;
}

.site-nav {

    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        &--sub {
            @media screen and (max-width: 768px) and (orientation: portrait) {
                display: none;
            }
        }


        &--appear-on-portrait {
            display: none;
            @media screen and (max-width: 768px) and (orientation: portrait) {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                padding: 0 !important;
            }
        }

    }

    &__item {
        
        font-size: 1.1em;
        margin-top: 1rem;

        &:first-child {
            margin-top: .5rem;
        }

        &--sub {
            font-size: .9rem;
            margin-top: .2rem;
        }

        &--active {
            color: $active-color;
            text-decoration: underline;
        }

    }

}