.post {

    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;    

    padding-top: 1.5rem;
    width: 90%;

    &__title {
        margin: 0;
        padding: 0;
    }

    &__content {

        margin-top: 2rem;

        a {
            text-decoration: underline;
        }
        td {
            padding-right: 0.5rem;
        }
        h3 {
            margin: .6rem 0;
        }
        h4 {
            margin: .4rem 0;
        }

        &--page {
            margin-top: 0;
        }
    }

    &__img {
        max-width: 95%;
        text-align: center;
        min-height: 200px;
    }   

}