@media screen and (max-width: 768px) and (orientation: landscape) {

    $header_width: 9rem;

    .main-wrapper {
        height: 100vh;
    }

    .site-header {
        -ms-flex-preferred-size: $header_width;
        flex-basis: $header_width;
    }

    .portfolio-item {

        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;

        &__img {
            max-width: 95%;
            max-height: 65vh;
            max-height: -webkit-calc(100vh - 8rem); 
            max-height: calc(100vh - 8rem);
           
            -webkit-box-flex: 1;
            -ms-flex: auto;
            flex: auto;
            
            &--home-page {
                max-height: 80vh;
                max-height: -webkit-calc(100vh - 6rem);
                max-height: calc(100vh - 6rem);
            }
        }

        &__caption-inner-wrapper {
            display: inline-block;
            margin-left: 78px;
            margin-left: -webkit-calc(110px - 5rem);
            margin-left: calc(110px - 5rem);
    
        }        

    }

}

@media screen and (max-width: 568px) and (orientation: landscape) {

    .site-nav__list--sub {
        display: none;
    }    

}

@media screen and (max-width: 768px) and (orientation: portrait) {

    .main-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
        
        padding: 0 1rem;
    }
    
    .site-header {
        width: 100%;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 2rem 0 1rem 0;
        margin: 0;
    }
    
    .site-nav__list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        padding: .5rem 0;
    }
    
    .site-nav__item {
        margin: 0 1rem 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
    }
    
    .portfolio-item {
    
        padding: .5rem 0;
    
        &__img {
            max-width: 95%;
        }
    
        &__caption {
            -webkit-transform: none;
                    transform: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
                -ms-flex-direction: column-reverse;
                    flex-direction: column-reverse;
        }
    
        &__caption-inner-wrapper {
            margin: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
        }
    
    }
    
    .portfolio-nav {
        margin: 0;
        padding: .5rem 0;
    }
    
    .blog {
        padding-top: 0;
    }
    
    .post {
        width: 100%;
        padding-top: 0;
    }

}

@media screen and (min-height: 1070px) {

    .portfolio-item__img-wrapper {
        min-height: 20vh;
    }

}
