.portfolio-item {

    margin: 0;
    padding: $top_bottom_padding 0 0 0;

    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    &__img-wrapper {
        min-height: 43vh;
        @media screen and (max-width: 450px) {
            min-height: 20vh;
        }
    }

    &__img {
        max-width: 80%;
        // max-width: 95%;
        // max-height: 95%;
        object-fit: contain;
    }

    &__caption-inner-wrapper {
        display: inline-block;
        margin-left: 78px;
        margin-left: -webkit-calc(110px - #{$nav_right_margin});
        margin-left: calc(110px - #{$nav_right_margin});

    }

    &__caption {

        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        
        width: 100%;

        padding-top: .8rem;
        padding-bottom: 1rem;

        -webkit-animation: appear .6s;
        animation: appear .6s;

        &--home-page {
            -webkit-transform: none;
            transform: none;
        }

    }

}

.portfolio-nav {

    display: inline-block;
    margin-right: $nav_right_margin;

    &__info {
        padding: 0 1rem;
    }

    &__arrow {
        display: inline-block;

        &--inactive {
            color: #c0c0c0;
        }

    }

}

.category-title {

    margin: 0;
    padding-bottom: 1rem;

    &__name {
        font-style: italic;
    }

}