html {
    font-size: 100%;
}

html,
body {
    height: 100%;
}

.site-body {
    font-family: 'Muli', sans-serif;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
}