@mixin breakpoint($point) {
    @if $point == desktop {
      @media screen and (max-width: 768px) { @content ; }
   }
 }

$top_bottom_padding: 2rem;

$nav_right_margin: 2rem;

$header_width: 12rem;

$active-color: #f5ab35;

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}