---
layout: default
---

<section class="blog">

    {% for post in paginator.posts %}

        <div class="blog__item">

            <img class="blog__teaser-img" src="{{ post.image | relative_url }}" alt="">

            <div class="blog__info">
            
                <h2 class="blog__title">
                    <a href="{{ post.url | relative_url }}">
                        {{ post.title }}</h2>
                    </a>

                <p class="blog__excerpt">
                    {{ post.excerpt }}
                </p>

            </div>

        </div>

    {% endfor %}

    {% include blog-pagination.html %}

</section>