<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="site-body">

    <div class="main-wrapper">

      {% include header.html %}

      {{ content }}

    </div>

  </body>

</html>
