---
layout: default
---

<section class="gallery">

    <h1 class="gallery__title">
        {{ page.title }}
    </h1>

    <div class="gallery__items">

        {% for item in site.portfolio %}
            
            <figure class="gallery__item">

                <a class="gallery__link" href="{{ item.url }}">
            
                    <img class="gallery__img" src="{{ item.image | relative_url }}" alt="{{ item.meta }}">

                    <figcaption class="gallery__caption">
                        {{ item.title }}
                    </figcaprtio>

                </a>
            
            </figure>

        {% endfor %}

    </div>

</section>