---
layout: default
---

<article class="post">

    <div class="post__content post__content--page">

        {% if page.image %}
            <img src="{{ page.image | relative_url }}" alt="" class="post__img">
        {% endif %}

        {{ content }}

    </div>

</article>
