---
layout: default
---

<article class="post">

    <header class="post-header">

        <h1 class="post__title">
            {{ page.title }}
        </h1>

        <p class="post__meta">
            <time datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%b %-d, %Y" }}
            </time>
        </p>

    </header>

    <div class="post__content">

        {% if page.image %}
            <img src="{{ page.image | relative_url }}" alt="" class="post__img">
        {% endif %}

        {{ content }}

    </div>

</article>
